:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.container {
  margin: 10%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .listTitle {
    text-transform: uppercase;
    text-align: center;
  }

  & .postTitle {
     color: #ffffffde;
     text-decoration: underline;
     text-align: center;
     transition: .3s;
     &:hover {
      color: #646cff;
     }
  }
  & .postBox {
    margin-bottom: 1rem;
    border: 2px solid #535bf2;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 1.3rem;
  }
  & .commentBox {
    display: flex;
    gap: .5rem;
    align-items: start;
    line-height: 1;
  }
  & .postContent {
    border-bottom: 1px solid #ffffffde;
  }
}

.loginBox {
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 1.3rem;
 & form {
  border: 2px solid #646cff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  & label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
  & input {
    transition: 0.3s;
    &:hover {
      border: 2px solid #646cff;
    }
    &:focus {
      border: 2px solid #646cff;
      outline:none;
    }
  }
 }
}